/* svolgimento */
.ex-1-square{
    transition: all 0.4s ease-in-out;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square{
    transition: all 0.4s ease-in-out;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: all 0.4s ease-in-out;
}

.ex-3-square:hover{
    border-radius: 50%;
}


.ex-4-square{
    transition: all 1s ease-in-out;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    transition: all 0.4s ease-in-out;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
    margin: 0;
}

.ex-5-square:active{
    width: 30px;
    height: 30px;
    margin: 35px;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img{
    transition: all 0.4s ease-in-out;
}

.ex-7-img:hover{
    filter: blur(2px) grayscale(0.7);
}

.ex-8-img{
    transition: 0.5s;
}

.ex-8-img:hover{
    filter: blur(2px) grayscale(0.7);
    border-radius: 5%;
}

.ex-9-img{
    transition: 0.5s;
}

.ex-9-img:hover{
    filter: blur(2px) grayscale(0.7);
    border-radius: 5%;
    width: 500px;
}

.ex-10-icon{
    animation: gira 1s linear infinite;
}

@keyframes gira {
    0%{
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover{
    animation: ruota 3s linear;
}

@keyframes ruota {
    80%{
        transform: rotate(300deg);
    }

    100%{
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white{
    animation: spostadx 2s linear;
}

/* pezzo bianco width: 60px */
@keyframes spostadx {
    0%{
        left: 10%;
    }
    50%{
        left: calc(100% - 60px); 
    }
    100%{
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: spostasx 2s linear;
}

/* pezzo bianco width: 60px */
@keyframes spostasx {
    0%{
        right: 20%;
    }
    50%{
        right: calc(100% - 60px); 
    }
    100%{
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: spin 2s linear;
}

/* .ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
} */

@keyframes spin {
    0%{
        left: 10%;
        top: -10px;
    }
    25%{
        left: calc(100% - 60px);
        top: -10px;
    }
    40%{
        left: calc(100% - 60px);
        top: 100%;
    }
    60%{
        left: 0;
        top: 100%;
    }
    75%{
        left: 0;
        top: 100%;
    }
    90%{

    }
    100%{

    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: spindown 2s linear;
}

@keyframes spindown {
    0%{
        right: 10%;
        bottom: -10px;
    }
    25%{
        right: calc(100% - 60px);
        bottom: -10px;
    }
    40%{
        right: calc(100% - 60px);
        bottom: 100%;
    }
    60%{
        right: 0;
        bottom: 100%;
    }
    75%{
        right: 0;
        bottom: 100%;
    }
    90%{

    }
    100%{

    }
}